/*Variables*/

$coloryel: #ffc312;
$overlay: #34495e;
$header-font: "Miriam Libre", sans-serif;
$text-font: "Gruppo", cursive;
$backgroundfill: #f7f7f7;

body {
  margin: 0;
}

.hamburger {
  display: none;
  position: absolute;
  top: 15px;
  right: 10px;
}
.menu-list {
  display: flex;
  flex-direction: column;
padding: 0, 10px;
background-color: $backgroundfill;

}
.item {
  display: block;
  text-decoration: none;
  list-style-type: none;
  padding: 0 20px;
  margin: 0 20px;
  font-family: $header-font;
  color: black;
  font-size: 15px;
  background-color: $backgroundfill;
}
.menu-list li {
  list-style-type: none;
  display: none;
}

i.fas.fa-bars {
  color:$backgroundfill;
  border: none;
  background: none;
  font-size: 28px;
}
#toggle{
  display: none;
}
#toggle:checked ~ .menu-list li {
  display: block;
  
}
#menuToggle input:checked ~ ul {
  transform: none;
}
.header-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 0;
  width: 100%;
}
.header-image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.logo {
  position: absolute;
  top: 36px;
  left: 124px;
}
.background-image {
  display: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.header-container:hover .overlay {
  opacity: 40%;
}
.navigation {
  display: flex;
  display: inline-block;
  position: absolute;
  top: 40px;
  right: 18%;
}
ul {
  display: flex;
}
a.menu-item {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  padding-right: 34px;
  font-family: $header-font;
  color: #fff;
  font-size: 20px;
}
.navigation li {
  list-style-type: none;
  display: inline;
}
.btn1 {
  font-size: 16px;
  border-radius: 5%;
  border: 0;
  padding: 10px 30px;
  background-color: #ffc312;
  text-decoration: none;
  font-family: $header-font;
  color: #fff;
}
.btn1:hover {
  transform: scale(1.2);
}
.header-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

h1 {
  font-family: $text-font;
  font-size: 40px;
  font-style: italic;
  color: #fff;
}
h2 {
  font-family: $header-font;
  font-size: 80px;
  color: #fff;
}

/*Services*/
.serv-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service-header {
  text-align: center;
  margin-top: 72px;
  font-family: $header-font;
  font-size: 30px;
  color: black;
}
p {
  text-align: center;
  margin-bottom: 46px;
  font-family: $text-font;
  font-size: 20px;
}
a.service-link {
  text-align: center;
  text-decoration: none;
  color: black;
}
.services-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
  width: 100%;
}

.service-name {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: $text-font;
  margin: 0 66px;
}
i {
  background-color: #fff;
  font-size: 27px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid $coloryel;
  color: $coloryel;
  line-height: 60px;
  padding-top: 6px;
  margin: 0 auto;
}

/*Portfolio*/
.portfolio-container {
  max-width: 100%;
  min-height: 1200px;
  background-color: #f7f7f7;
  color: black;
  margin: 0 auto;
  text-align: center;
  min-height: 570px;
  position: relative;
  padding: 50px 10px;
}

.row {
  display: flex;
}

h2.portfolio-header {
  color: black;
}
.portfolio-header {
  margin-bottom: 5px;
}
.portfolio-par {
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 20px;
}

.holder {
  width: 100%;
}

.image-card {
  width: 75%;
  height: 390px;
  background-color: white;
  margin: 0 auto;
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  p {
    font-weight: bold;
    font-size: 20px;
    span {
      font-weight: normal;
      font-size: 14px;
      color: grey;
    }
  }
}

.img-container {
  margin-bottom: 30px;
}

.portfolio-image {
  flex: 1 1 30%;

  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*Footer*/
.container-footer {
  display: flex;
  justify-content: center;
  background-color: $backgroundfill;
}
.copyright {
  padding-top: 20px;
  flex: 1;
  text-align: center;
}
i.far.fa-copyright {
  font-size: 10px;
  color: black;
  border: none;
  background-color: $backgroundfill;
}

p.footer-par {
  font-size: 16px;
}

.media {
  display: flex;
  flex: 2;
}
.list-inline {
  list-style-type: none;
  margin-left: 40px;
  padding-left: 72px;
  padding-top: 20px;
}
.list-inline li {
  text-decoration: none;
  display: inline;
}
.li.list-inline-item {
  display: inline;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.mediaicon-1,
.mediaicon-2,
.mediaicon-3,
.mediaicon-4 {
  color: white;
  background-color: black;
  border: none;
  padding-left: 8px;
  padding-top: 7px;
  font-size: 18px;
  width: 32px;
  height: 32px;
  margin-right: 7px;
}

.mediaicon-1 {
  padding-left: 3px;
}
.mediaicon-2 {
  padding-left: 2px;
}

.mediaicon-3 {
  padding-left: 3px;
  padding-top: 7px;
}

.mediaicon-4 {
  padding-left: 6px;
}

@media (max-width: 375px) {
  ul {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
  .header-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  div.navigation {
    display: none;
  }
  .hamburger {
    display: block;
  }

  .welcome-header,
  .welcome-header2 {
    display: none;
  }

  .img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .btn1 {
    font-size: 10px;
    padding: 5px 5px;
  }
  .services-container,
  .container-footer {
    flex-direction: column;
    justify-content: center;
  }

  .container {
    padding: 0;
  }
  .portfolio-header {
    font-size: 40px;
  }

  .portfolio {
    padding: 0;
    justify-content: center;
  }
}
.container-footer {
  justify-items: center;
}

@media (max-width: 1024px) and (min-width: 357px) {
  ul {
    justify-content: center;
    font-size: 8px;
  }
  .header-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  div.navigation {
    display: inline-block;
    top: 100px;
    right: 80px;
  }

  .welcome-header {
    font-size: 14px;
  }
  .welcome-header2 {
    font-size: 20px;
  }

  .img.logo {
    justify-content: center;
  }

  .btn1 {
    font-size: 14px;
    padding: 5px 9px;
  }
  .services-container,
  .holder1,
  .holder2,
  .container-footer {
    flex-direction: column;
    justify-content: center;
  }

  .container {
    padding: 0;
  }
  .portfolio-header {
    font-size: 40px;
  }

  .portfolio {
    padding: 0;
  }
  .portfolio-image {
    flex: 0 30%;
    padding: 0;
    width: 80%;
  }
  .container-footer {
    justify-items: center;
  }
}
@media (max-width: 812px) and (min-width: 375px) {
  ul {
    justify-content: center;
    font-size: 8px;
  }
  .header-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  div.navigation {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .welcome-header,
  .welcome-header2 {
    display: none;
  }

  .img.logo {
    justify-content: center;
    transform: scale(1, 5);
  }
  .btn1 {
    font-size: 14px;
    padding: 5px 9px;
  }
  .services-container,
  .holder1,
  .holder2,
  .container-footer {
    flex-direction: column;
    justify-content: center;
  }

  .container {
    padding: 0;
  }
  .portfolio-header {
    font-size: 40px;
  }

  .portfolio {
    padding: 0;
  }
  .portfolio-image {
    flex: 0 30%;
    padding: 0;
    width: 80%;
  }
  .container-footer {
    justify-items: center;
  }
}
@media (max-width: 640px) and (min-width: 360px) {
  ul {
    justify-content: center;
    font-size: 8px;
  }
  .header-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  div.navigation {
    display: none;
  }

  .welcome-header,
  .welcome-header2 {
    display: none;
  }

  .img.logo {
    left: 145px;
    transform: scale(1, 5);
  }
  .btn1 {
    font-size: 14px;
    padding: 5px 9px;
  }
  .services-container,
  .holder1,
  .holder2,
  .container-footer {
    flex-direction: column;
    justify-content: center;
  }

  .container {
    padding: 0;
  }
  .portfolio-header {
    font-size: 40px;
  }

  .portfolio {
    padding: 0;
  }
  .portfolio-image {
    flex: 0 30%;
    padding: 0;
    width: 80%;
  }
  .container-footer {
    justify-items: center;
  }
  @media (max-width: 320px){
    .logo {
      left: 105px;
      top: 35px;
    }
  }
}
