
$coloryel:#FFC312;

.container{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    

}

.image-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

img {
   display: center; 
   width: 100%;

}
.navigation {
    display: flex;
    display: inline;
    position: absolute;
   

}
navigation ul{
display: flex;

}

a.menu-item {
    display: inline-block;
    text-decoration: none;
   list-style-type: none;
}
.navigation li{
list-style-type:none;
display:inline;

}
.btn1{
    font-size: 16px;
    border-radius:5%;
    border:0;
    padding: 5px;
    background-color: #FFC312;
    text-decoration: none;
}
.wrapper{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}


/*Services*/
.serv-row{
    display: flex;
    flex-direction: column;

}
.service-header{
    text-align: center;
    margin-top: 72px;
    
}

.services-container{
    display: flex;
    justify-content: space-around;  
    margin-bottom: 72px;
}

.service-name {
    display:flex; 
    flex-direction: column;
    justify-content: center;
}
i {
   background-color:#fff;
   border-style: solid;   
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    border: 3px solid $coloryel;
    color: $coloryel;
    
    text-align: center;

    line-height: 60px;
    
    
    
}
p {
    text-align: center;
    margin-bottom: 96px;

}
/*Portfolio*/
.portfolio{
    background-color: #ecf0f1;
    display: flex;
    flex-wrap: wrap;
}
.wrapper {
    display: flex

}
.portfolio-header, .portfolio-par {
    text-align: center;
}
.holder {
    margin-top: 96px;
}

.portfolio-img-holder {
    display: flex;
    flex: 0 50%;
    flex-direction: column;

}
.port-wrapper {
    text-align: center;
    background-color: #fff;
    padding: 10px;
}
.holder1, .holder2{
display: flex;
justify-content: space-around;
padding: 10px 46px;
}
img{    
    flex: 1 1 30%;
    padding:10px;
}